################################################################################
# .XProfile ####################################################################
################################################################################

# --- Keyboard -----------------------------------------------------------------

# Keyboard repeat dalay/rate
xset r rate 300 30 &

# Keyboard Layout
setxkbmap -layout us -option caps:escape &

# --- Tray ---------------------------------------------------------------------

# Volume (replace for widget on qtile)
#pa-applet &

# Network Manager
nm-applet &

# Pamac Tray
pamac-tray &

# --- App ----------------------------------------------------------------------

# LX Polkit
lxsession &

# Wallpaper
nitrogen --restore &

# Power Management
xfce4-power-manager &

# Hide Mouse Cursor when idle for 2 seconds
unclutter --timeout 2 --ignore-scrolling &

# Night Light [default -t 6500/4500]
redshift -l -23.52:-46.35 -t 6500:4500 &

# Compositor - transparency
picom --config ~/.config/picom/picom.conf &

# --- ENV ----------------------------------------------------------------------
export SHELL=/usr/bin/zsh
export EDITOR=/usr/bin/nvim
