################################################################################
# .XProfile ####################################################################
################################################################################

# --- Keyboard -----------------------------------------------------------------

# Keyboard repeat dalay/rate
xset r rate 250 30 &

# Keyboard Layout
setxkbmap -layout br -option caps:escape &

# --- Tray ---------------------------------------------------------------------

# Vomulme
pa-applet &

# Network Manager
nm-applet &

# Pamac tray
pamac-tray &

# --- App ----------------------------------------------------------------------

# LX Polkit
lxsession &

# Wallpaper
nitrogen --restore &

# Hide Mouse Cursor when idle for 2 seconds
unclutter --timeout 2 --ignore-scrolling &

# Night Light [default -t 6500/4500]
redshift -l -23.52:-46.35 -t 6500:4500 &

# Compositor - transparency
picom --config ~/.config/picom/picom.conf &
